.container{
   display: block;
   column-count: 3;
   column-gap: 100px;
   background-color: antiquewhite;
}

.menu {
    display: grid;
    width: 120px;
    position: fixed;
    background-color:aquamarine;
    border: 2px black;
    z-index: 100;
}

.button{
    margin-bottom: 2px;
    background-color: aqua;
    z-index: 100;
}

.card-container{
    display: grid;
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    margin-left: 120px;
}


.card{
    display: block;
    background-color: brown;
    color: antiquewhite;
}
.card-img{
    display: block;
    width: 400px;
    height: 200px;
    justify-items: center;
    
}

.a{
    text-decoration: none;
    color: black;
}

