.container{
   display: block;
   column-count: 3;
   column-gap: 50px;
   background-color: white;
}

.menu {
    display: grid;
    width: 100px;
    position: fixed;
    background-color:aquamarine;
    border: 2px black;
    z-index: 100;
}

.button{
    margin-bottom: 2px;
    background-color: aqua;
    z-index: 100;
}

.card-container{
    display: grid;
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    padding-top: 20px;
    padding-bottom:20px;
    padding-right: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-left: 120px;
}


.card{
    display: block;
    height: 500px;
    width: 410px;
    background-color: brown;
    color: antiquewhite;
    border-radius: 30px;
}
.card-img{
    display: block;
    width: 400px;
    height: 200px;
    padding-top: 10px;
    justify-items: center;
    
}

.a{
    text-decoration: none;
    color: black;
}

